.mode
	padding 10px
	background #edeef0

	&__chart
		padding 20px
		background #fff
		margin 10px
		border 1px solid #d7d8db

	&__title 
		padding 0px
		text-align left
		font-weight 300
		color #000
		font-size 22px
		margin 20px 0px 30px 0px
		display inline-block

	&__period
		border 0px solid red
		margin 20px 10px 30px 5px
		color #0079c2
		font-size 22px
		background transparent
		font-weight 300

	&__data
		padding 20px
		background #fff
		margin 20px 10px 10px 10px
		border 1px solid #d7d8db

	&__table
		width 100%
		border-collapse 0px
		border-spacing 0px
		font-size 15px
		
	&__row
			
		&--head
			font-weight 400

		&--body
			font-weight 300
			color rgba(0,0,0,1)
			background rgba(0,0,0,0)
			&:hover
				background rgba(0,0,0,0.03)

	&__cell
		padding 12px
		border-bottom 1px solid #dde2e6
		text-align center

		&--head
			padding 12px

		&--body
			padding-left 12px

		&--null
			text-align center !important

		&--statistics
			width 5%

		&--name
			width 25%

		&--company
			width 20%

		&--unit
			width 20%

		&--finishDate
			width 12%

		&--days
			width 10%

		&--action
			width 8%

		&--title
			width 20%

		&--person
			width 20%

		&--active
			width 17%

		&--rating
			width 18%

		&--color
			width 6%
			text-align left
			align-items center

		&--link
			width 15%

		&--timqe
			width 15%

		&--code
			width 15%

		&--text
			width 70%

			svg
				margin-right 2px