.reports

    &__chart
        padding 20px
        background #fff
        margin 20px
        border 1px solid #d7d8db

    &__title 
        padding 0px
        text-align left
        font-weight 300
        color #000
        font-size 20px
        margin 20px 0px 30px 0px
        display inline-block

    &__data
        padding 20px
        background #fff
        margin 20px
        border 1px solid #d7d8db
    
    &__table
        width 100%
        border-spacing 0px
        font-size 15px
        
    &__row
            
        &--head
            font-weight 400

        &--body
            font-weight 300
            color rgba(0,0,0,1)
            background rgba(0,0,0,0)

        &--active
            color rgba(0,0,0,1)
            
            &:hover
                background rgba(0,0,0,0.08)

        &--disabled
            color rgba(0,0,0,0.5)

    &__cell
        padding 12px
        border-bottom 1px solid #dde2e6
        text-align center

        &--head
            padding 12px

        &--body
            padding-left 12px

        &--null
            text-align center !important

        &--circle
            width 5%

        &--title
            width 60%
            text-align left

        &--visits
            width 35%