.user
  padding 0px 20px

  &__title 
    padding 30px 20px 30px 20px
    text-align left
  
    h1
      font-weight 300
      font-size 28px
      color #000
      margin-top 20px
      margin-bottom 5px
    
    h2
      font-weight 400
      color #0079c2
      font-size 14px
      margin 5px 0px

    h3
      font-weight 400
      color grey
      font-size 14px
      margin 5px 0px

    h4
      padding 0px
      text-align left
      font-weight 400
      color #808080
      font-size 14px
      margin 5px 0px 20px 0px
      display inline-block
        
    select
      border 0px solid red
      margin 5px 0px 20px 0px
      color #0079c2
      font-size 14px
      background transparent
      font-weight 400

  &__chart
    padding 20px
    background #fff
    margin 10px
    border 1px solid #d7d8db

    h2
      font-weight 300
      font-size 20px
      color #000
      margin-top 30px
      margin-bottom 30px

  &__data
    padding 20px
    background #fff
    margin 20px 10px 10px 10px
    border 1px solid #d7d8db

    h2
      font-weight 300
      font-size 20px
      color #000
      margin-top 30px
      margin-bottom 30px

  &__table
    border-top 1px solid #dde2e6
    width: 100%;
    font-size: 15px;

    svg:hover
      opacity 0.7
      cursor pointer    

  &__head-row
    display flex
    font-weight 400
    border-bottom 1px solid #dde2e6

  &__head-cell
    padding 12px
    text-align center

    &--action
      width 10%

    &--time 
      width 30%

    &--longFull
      width 30%

    &--pages
      width 30%

    &--actions
      width 10%

  &__body-cell
    text-align center
    padding 12px

    &--action
      width 10%

    &--time 
      width 30%

    &--pages
      width 30%

    &--longFull
      width 30%

    &--title
      width 30%

    &--link 
      width 30%

    &--actions
      width 10%
  
    &--null
      width 100%

  &__body-row
    font-weight 300

    &--close
      display flex
      color black
      border-bottom 1px solid #dde2e6

      &:hover
        background rgba(0,0,0,0.04)

      svg
  
        &:hover
          cursor pointer

    &--main
      color black
      display flex
      background rgba(0,0,0,0.04)
      border-bottom 1px solid #dde2e6

      svg   
        
        &:hover
          cursor pointer
      
    &--more
      display flex
      color grey
      border-bottom 1px solid #dde2e6
  
    &--null
      display flex
      border-bottom 1px solid #dde2e6